 * {
     margin: 1%;
 }
 
 body {
     background-image: url(./fondo.jpg);
     background-attachment: fixed;
     height: 100vh;
     font-family: 'Noto Sans', sans-serif
 }
 
 h1,
 h2 {
     font-weight: bold;
     color: white;
     background-color: lightpink;
     text-align: center;
 }
 
 ul.menu {
     font-weight: bold;
     text-align: center;
 }
 
 ul.datos {
     padding: 0%;
 }
 
 img {
     display: block;
     margin: auto;
     border-radius: 60%;
 }
 
 dt {
     font-weight: bold;
 }
 
 span {
     font-weight: bold;
 }
 
 h5,
 footer {
     color: white;
     background-color: lightpink;
     font-weight: bold;
     text-align: center;
     margin: 1%;
 }
 
 #footerimage {
     display: flex;
     justify-content: center;
     align-items: center;
 }