  * {
      margin: 1%;
  }
  
  body {
      background-image: url(./fondo.jpg);
      background-attachment: fixed;
      font-family: 'Noto Sans', sans-serif;
  }
  
  h1,
  h2 {
      font-weight: bold;
      color: white;
      background-color: lightpink;
      text-align: center;
  }
  
  img {
      display: block;
      margin: auto;
      border-radius: 60%;
  }
  
  ul {
      font-weight: bold;
      text-align: center;
  }
  
  h5,
  footer {
      color: white;
      background-color: lightpink;
      font-weight: bold;
      text-align: center;
      margin: 1%;
  }
  
  p {
      font-weight: bold;
      font-style: italic;
      margin: 10%;
  }