    body {
        background-color: lightblue;
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        height: 100vh;
    }
    
    h1,
    h2 {
        text-align: center;
    }
    
    footer {
        text-align: center;
    }
    
    header {
        margin: auto;
        padding: 2%;
    }
    
    img {
        width: 15%;
        height: 15%;
        border-radius: 60%;
        text-align: center;
        display: block;
        margin: auto;
    }
    
    ul {
        type: none;
    }